<footer class="app-footer">
	<div class="app-footer-content flex-grow-1">
		Hermio &copy;
		<script>document.write(new Date().getFullYear());</script>.
		<span class="hidden-mobile">
			{{ 'footer.all_rights_reserved'|trans }}.
		</span>
	</div>
</footer>
